#main {
  background-color: whitesmoke;
  width: 80%;
  margin: auto;
  height: auto;
  top: 0%;
  /* border-radius: 25px; */
  box-shadow: 0  0 10px #66666657;
  overflow: auto;
  padding-bottom: 15px;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
}
@media (orientation: portrait) {

#main {
  width: 100%;
}

}
#novelTitle {
  text-align: center
  
}
#chapTitle {
  text-align: center
}
.chapterContent {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
  margin: 0 0 20px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: #FDFD96;
  margin: 0em;
  width:100%;
  height:100%;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}

#navbar {
background-color: #3a3a3a;
width: 100%;
margin: auto;
height: 35px;
position: top;
/* border-radius: 25px; */
box-shadow: 0 0 10px #66666657;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
color: white;
}

li a:active {
background-color: #FDFD96;
}
footer {
  height: 40px;
  width: 100%;
  background-color: #3a3a3a;
  position: absolute;
  bottom: auto;
}
footer p {
  color: ivory;
}
.dark-mode {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#navButtons{
  text-align: center;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #FDFD96;
  color: black;
}

.next {
  background-color: #FDFD96;
  color: #000000;
}
