#main {
    background-color: whitesmoke;
    width: 75%;
    margin: auto;
    height: 100%;
    top: 0%;
    /* border-radius: 25px; */
    box-shadow: 0  0 10px #66666657;
}
@media (max-width: 700px) {

  #main {
    width: 100%;
  }

}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #FDFD96;
    margin: 0em;
    width:100%;
    height:100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#temp {
  text-align: center;
}
#navbar {
  background-color: #3a3a3a;
  width: 100%;
  margin: auto;
  height: 35px;
  position: top;
  /* border-radius: 25px; */
  box-shadow: 0 0 10px #66666657;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #FDFD96;
}
footer {
    height: 40px;
    width: 100%;
    background-color: #3a3a3a;
    position: absolute;
    bottom: 0%;
  }
  footer p {
    color: ivory;
  }
.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
