<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="scripts/read.js"></script>

    <title>Project Waffle novelTitle</title>
    <meta name="description" content="Read novelTitle and other webnovels in English for free!">
    <meta name="author" content="novelAuthor">

    <link rel="stylesheet" href="../../css/readingPage.css">

</head>

<body>
    <div id = "main">
        <div id = "navbar">
            <ul>
                <li><a href="../../root/index.html">Home</a></li>
                <li><a href="https://github.com/W4ff1e/projectwaffle" target="_blank">Github</a></li>
                <li><a href="../../contact/contact.html">Contact</a></li>
                <li><a href="../../read/index.html">Read</a></li>
                
              </ul>
        </div>
        <!-- Dont forget to change header information! -->
        <!-- Title, Author, Description & Nav Buttons at the bottom. -->
        <div class = "chapterBody"></div>
            <h1 id = "novelTitle">novelTitle</h1>
            <h2 id = "chapTitle">chapNumberandTitle</h2>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
            <p class = "chapterContent">Paragraph</p>
        </div>
        
        
        
        <div style="text-align: center;">
            <a href="#" class="previous">&laquo; Prev</a>
            <a href="#" class="next">Next &raquo;</a>
        </div>
        
        </div>
        <footer>
            <p>Copyright    ©  projectwaffle.net    All Rights Reserved</p>
        </footer>
    </div>

</body>

</html>
